# Database configuration (PostgreSQL)
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/akarmakmur"

# JWT configuration for Authentication
JWT_SECRET="your-very-secret-jwt-key"

# Xendit Payment Gateway configuration (Use Development keys for demo)
XENDIT_SECRET_KEY="xnd_development_..."
XENDIT_WEBHOOK_TOKEN="your_xendit_webhook_token"

# Cloudinary configuration for Image Uploads
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_CLOUD_NAME="your_cloudinary_cloud_name"

# Frontend URL (For CORS and redirects)
FRONTEND_URL="http://localhost:5173"

# Admin configuration
ADMIN_DEFAULT_PASSWORD="Admin@AkarMakmur2026!"
PORT=3000
